# OS
.DS_Store
# IDEs
.vscode/
.idea/
# Node
node_modules/
# Logs
*.log
# Env
.env
# Build
dist/
build/
# Go
bin/
# Python
__pycache__/
*.pyc
# Terraform
*.tfstate
*.tfstate.*
# JetBrains
*.iml
.idea/
copilot-instructions.md
